<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- font awesomwe -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<link rel="stylesheet" href="assets/css/app.css">

<title>Интернет-магазин на Vue.js</title>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
			<div class="container">
			  <a class="navbar-brand" href="#" v-text="sitename"></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Dropdown
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Disabled</a>
			      </li>
			    </ul>
			  </div>
			  	<button type="button" class="btn" @click="showCheckout">
				  Корзина <span class="badge badge-success" v-text="cartItemCount"></span>
				</button>
			</div>
		</nav>
		<main v-if="showProduct">
			<!-- Основной контент здесь -->
			<div class="card col-sm-4">
				<div class="card-header">
			    	<h5 class="card-title">{{ product.title }}<span v-if="product.new" class="badge badge-success">New</span></h5>
			    	<div class="rating">
			    		<i class="fa-star" :class="getStarClass(n)" v-for="n in 5"></i>
			    	</div>
			  	</div>
				<div class="card-body">
					<img :src="product.image" class="card-img-top" :alt="product.title">
					<hr>
					<p class="card-text" v-text="product.description"></p>
				</div>
			    <div class="card-footer row">
			    	<div class="col-sm-6">
			    		<strong>{{ product.price | formatPrice }}</strong>
			    	</div>
			    	<div class="col-sm-6">
				  		<button type="button" class="btn btn-info" @click="addToCart" v-if="canAddToCart">В корзину</button>
				  		<button type="button" class="btn btn-outline-secondary" disabled v-else="canAddToCart">В корзину</button>
				  		<span class="productCountInfo">
					  		<template v-if="product.availableCount - cart.length === 0">Распродано</template>
				    		<template v-else-if="product.availableCount - cart.length < 5">Осталось {{ product.availableCount - cart.length }} шт.</template>
				    		<template v-else>Купить сейчас!</template>
				    	</span>
				  	</div>
			    </div>
			</div>
		</main>
		<main class="container checkout" v-else>
			<h2>Оформление заказа</h2>
			<form action="#">
				<h4>Личные данные</h4>
				<hr>
				<div class="row">
					<div class="col">
						<div class="form-group">
						    <label for="lastname">Фамилия</label>
						    <input type="text" class="form-control" id="lastname" placeholder="" v-model.trim="order.lastname">
					  	</div>
					</div>
					<div class="col">
						<div class="form-group">
						    <label for="firstname">Имя</label>
						    <input type="text" class="form-control" id="firstname" placeholder="" v-model.trim="order.firstname">
					  	</div>
					</div>
					<div class="col">
						<div class="form-group">
						    <label for="patronymic">Отчество</label>
						    <input type="text" class="form-control" id="patronymic" placeholder="" v-model.trim="order.patronymic">
					  	</div>
					</div>
				</div>
				<h4>Адрес доставки</h4>
				<hr>
				<div class="row">
					<div class="col-2">
						<div class="form-group">
						    <label for="state">Штат</label>
						    <select class="form-control" id="state" v-model="order.state">
						      <option disabled>State</option>
						      <option v-for="(state, key) in states" :value="state">{{ key }}</option>
						    </select>
						  </div>
					</div>
					<div class="col">
						<div class="form-group">
						    <label for="city">Город</label>
						    <input type="text" class="form-control" id="city" placeholder="" v-model.trim="order.city">
					  	</div>
					</div>
					<div class="col-12">
						<div class="form-group">
						    <label for="address">Адрес</label>
						    <input type="text" class="form-control" id="address" placeholder="" v-model.trim="order.address">
					  	</div>
					</div>
					<div class="col">
						<div class="form-group form-check">
						    <input type="checkbox" class="form-check-input" id="gift"
						    	:true-value="order.sendGift" 
						    	:false-value="order.dontSendGift" 
						    	v-model="order.gift">
						    <label class="form-check-label" for="gift">Отправить в подарок?</label>
					  	</div>
					</div>
					<div class="col">
						<div class="custom-control custom-radio">
						  <input type="radio" id="methodHome" name="method" class="custom-control-input" value="Home" 
							  :value="order.methodHome"
							  v-model="order.method">
						  <label class="custom-control-label" for="methodHome">Домашний адрес</label>
						</div>
						<div class="custom-control custom-radio">
						  <input type="radio" id="methodBusiness" name="method" class="custom-control-input" value="Business" 
						  	:value="order.methodBusiness"
						  	v-model="order.method">
						  <label class="custom-control-label" for="methodBusiness">Рабочий адрес</label>
						</div>
					</div>
				</div>
			</form>
			<hr>
			<div class="alert alert-info">
				<h3>Ваши данные:</h3>
				<ul class="verify">
					<li><strong>ФИО:</strong> {{ [order.lastname, order.firstname, order.patronymic].join(" ") }}</li>
					<li><strong>Адрес:</strong> {{ order.address }}</li>
					<li><strong>Город:</strong> {{ order.city }}</li>
					<li><strong>Штат:</strong> {{ order.state }}</li>
					<li><strong>В подарок:</strong> {{ order.gift }}</li>
					<li><strong>Вариант доставки:</strong> {{ order.method }}</li>
				</ul>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="alert alert-secondary clearfix">
						<button class="btn btn-success float-right" @click="submitForm">Заказать</button>
					</div>
				</div>
			</div>
		</main>
	</div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/app.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>